Django==1.8.6
mysqlclient==1.3.7
Pillow==2.1.0
virtualenv==13.1.2
psutil==3.2.2
tweepy==3.4.0
pytz==2015.7
wheel==0.26.0
pymongo==3.1
langid==1.1.5
configparser==3.3.0r2
gensim==0.12.4
nltk==3.0.3
pytagcloud==0.3.5
pygame==1.9.2a0
simplejson==3.8.2